
body, html {
  margin:0;
  height: 100%;
}

#topbar{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	position: fixed;
	width: 100%;
	z-index: 3;
	background: rgba(255,255,255,0.8);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#topbar.smaller{
	background: rgba(255,255,255,0.95);
}

#topbar.smaller #logo{
	width: 100px;
}

#topbar.smaller #numbers{
	padding-bottom: 10px;
	font-size: 14px;
}

#logo{
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#navbar{
	display: inline-block;
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-right: 10px;
	font-size: 18px;
	float: right;
}

.line{
	float: left;
	padding-left: 12px;
	padding-right: 12px;
}

.shadow{
	color: black;
	text-decoration: none;
}

.shadow:hover{
	color: gray;
}

.list{
	list-style-type: none;
	padding: 0; 
	margin: 0;
	float: right;
}

#numbers{
	float: right;
	font-size: 16px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 20px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#mainpicdiv{
	height: 100%;
	background: 	
		linear-gradient(
	      rgba(0, 0, 0, 0.1), 
	      rgba(0, 0, 0, 0.1)
	    ),
	    url(../images/gaf-roof-new.jpg) no-repeat center center;
	background-size: cover;

}

#gafroof{
	width: 100%;
	position: relative;
	top: -95px;
}

#maintext{
	text-align: center;
	text-shadow: 2px 2px 8px black;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	position:absolute;
	width: 100%;
	margin-left: -50%;
    top:40%;
    left:50%;
    font-size: 50px;
}

#phone{
	color: #FEE736;
}

#frontblurb{
	margin-left: 50px;
	margin-right: 50px;
}

#blurbtext{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 28px;
	line-height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#serviceslist{
	text-align: center;
}

.servicediv{
	width: 25%;
	display: inline-block;
	padding: 30px;
	vertical-align: middle;
}

.servpic{
	width: 100%;
	height: 100%;
}

.apic{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-decoration: none;
	color: black;
	font-size: 35px;
}
