body, html {
  margin:0;
  height: 100%;
}

#topbar{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	position: fixed;
	width: 100%;
	z-index: 3;
	background: rgba(255,255,255,0.8);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#topbar.smaller{
	background: rgba(255,255,255,0.95);
}

#topbar.smaller #logo{
	width: 100px;
}

#topbar.smaller #numbers{
	padding-bottom: 10px;
	font-size: 14px;
}

#logo{
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#navbar{
	display: inline-block;
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-right: 10px;
	font-size: 18px;
	float: right;
}

.line{
	float: left;
	padding-left: 12px;
	padding-right: 12px;
	position: relative;
}

.shadow{
	color: black;
	text-decoration: none;
}

.shadow:hover{
	color: gray;
}

#subul{
	padding: 0;
	position: absolute;
	top: 22px;
	left: 12px;
	width: 146px;
	padding-top: 14px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	visibility: hidden;
	opacity: 0;
/*	filter:alpha(opacity=0);*/
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

#dropdown:hover #subul{
	visibility: visible;
	opacity: 1;
/*	filter:alpha(opacity=100);*/
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.subdrop{
	background: rgba(255,255,255,0.8);
	display: block; 
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}

.subdrop:hover{
	background: rgba(255,255,255,0.8);
}

.list{
	list-style-type: none;
	padding: 0; 
	margin: 0;
	float: right;
}

#numbers{
	float: right;
	font-size: 16px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 24px;
	padding-top: 6px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#mainpicdiv{
	height: 100%;
	background: 	
		linear-gradient(
	      rgba(0, 0, 0, 0.1), 
	      rgba(0, 0, 0, 0.1)
	    ),
	    url(../images/gaf-roof-new.jpg) no-repeat center center;
	background-size: cover;

}

#gafroof{
	width: 100%;
	position: relative;
	top: -95px;
}

#maintext{
	text-align: center;
	text-shadow: 2px 2px 8px black;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	position:absolute;
	width: 100%;
	margin-left: -50%;
    top:40%;
    left:50%;
    font-size: 50px;
}

#phone{
	color: #FEE736;
}

#frontblurb{
	margin-left: 50px;
	margin-right: 50px;
}

.blurbtext{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 28px;
	line-height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#serviceslist{
	text-align: center;
}

.servicediv{
	display: inline-block;
	padding: 30px;
	vertical-align: middle;
}

.servpic{
	width: 100%;
	height: 100%;
}

.img{
	width: 350px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.apic{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-decoration: none;
	color: black;
	font-size: 35px;
}

@media screen and (max-width: 1255px){
	.img{
		width: 300px;
		height: 250px;
	}
}

@media screen and (max-width: 1110px){
	.img{
		width: 275px;
		height: 225px;
	}

	.apic{
		font-size: 30px;
	}
}

@media screen and (max-width: 1028px){
	.img{
		width: 250px;
		height: 200px;
	}

	.apic{
		font-size: 25px;
	}
}

@media screen and (max-width: 952px){
	.img{
		width: 300px;
		height: 250px;
	}

	.apic{
		font-size: 30px;
	}
}

@media screen and (max-width: 739px){
	.img{
		width: 250px;
		height: 200px;
	}

	.apic{
		font-size: 28px;
	}
}

footer{
	width: 100%;
	background-color: black;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#footerlogo{
	width: 140px;
	text-align: center;
	padding-bottom: 10px;
}

#copy{
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-top: 10px;
}

#copy a{
	color: white;
	text-decoration: none;
}

#copy a:hover{
	text-decoration: underline;
}

#copy a:visited{
	color: white;
	text-decoration: none;
}

.facebookbw {
	display: inline-block;
	position: relative;
	width: 55px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all .5s;
}

.facebook {
	position: absolute;
	width: 55px;
}

.facebookbw:hover{
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all .5s;
}

.twitterbw {
	display: inline-block;
	position: relative;
	width: 55px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all .5s;
}

.twitter {
	position: absolute;
	width: 55px;
}

.twitterbw:hover{
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all .5s;
}

.instabw {
	display: inline-block;
	position: relative;
	width: 55px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all .5s;
}

.insta{
	position: absolute;
	width: 55px;
}

.instabw:hover{
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all .5s;
}

.googlebw {
	display: inline-block;
	position: relative;
	width: 55px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all .5s;
}

.google{
	position: absolute;
	width: 55px;
}

.googlebw:hover{
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all .5s;
}

.yelpbw {
	display: inline-block;
	position: relative;
	width: 55px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all .5s;
}

.yelp{
	position: absolute;
	width: 55px;
}

.yelpbw:hover{
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all .5s;
}

table{
	margin: 0 auto;
}

td{
	padding-left: 7px;
	padding-right: 7px;
}

#contactus{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 28px;
	line-height: 40px;
	margin-top: 40px;
	margin-bottom: 10px;
}

#indicates{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-bottom: 40px;
	margin-top: 10px;
	text-align: center;
}

.estimate{
	text-align: center;
	margin-bottom: 25px;
}

.inputs{
	width: 275px;
	height: 35px;
	padding-left: 10px; 
	padding-right: 10px; 
}

.contactdiv{
	margin-right: 5%;
	margin-left: 5%;
}

.contactdiv input, .contactdiv textarea{
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 10px;
}

#message{
	width: 277px;
	padding-left: 10px;
	padding-right: 10px; 
	height: 96px;
	-webkit-appearance: textfield;
}

.contactdiv{
	display: inline-block;
	vertical-align: top;
}

#submit{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: white;
	border-style: solid;
	box-shadow: 0px 0px 1px 0px #969898;
	cursor: pointer;
	border-width: 1px;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 22px;
}

/*------SIDING PAGE------*/
#resttopbar{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	position: fixed;
	width: 100%;
	z-index: 3;
	background: rgba(255,255,255,0.8);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	background: rgba(255,255,255,0.95);
}

#resttopbar #logo{
	width: 100px;
}

#resttopbar #numbers{
	padding-bottom: 10px;
	font-size: 14px;
}

#mainsidingpic{
	height: 50%;
/*	min-height: 300px;*/
	background: 	
		linear-gradient(
	      rgba(0, 0, 0, 0.1), 
	      rgba(0, 0, 0, 0.1)
	    ),
	    url(../images/siding2.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 30%;
}

#restmaintext{
	text-align: center;
	text-shadow: 2px 2px 8px black;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	position:absolute;
	width: 100%;
	margin-left: -50%;
    top:20%;
    left:50%;
    font-size: 50px;
}

.innercontent{
	max-width: 1170px;
	width: auto;
	margin: auto;
}

.leftside{
	padding-left: 10px;
	float: left;
	width: 70%;
}

.descript{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding-left: 37px;
	padding-right: 37px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.rightside{
	float: right;
	margin-right: 30px;
}

#righttitle{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	text-align: center;
}

.sideput{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	width: 185px;
	height: 28px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 10px; 
	padding-right: 10px; 
}

#sidemessage{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 15px;
	width: 187px;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px; 
	-webkit-appearance: textfield;
}

#sidesub{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: white;
	border-style: solid;
	box-shadow: 0px 0px 1px 0px #969898;
	cursor: pointer;
	border-width: 1px;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 14px;
}

/*------WINDOWS PAGE------*/

#mainwindowspic{
	height: 50%;
	background: 	
		linear-gradient(
	      rgba(0, 0, 0, 0.1), 
	      rgba(0, 0, 0, 0.1)
	    ),
	    url(../images/pellawindows.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 40%;
}


