
body, html {
  margin:0;
  height: 100%;
}

#topbar{
padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  position: fixed;
  width: 100%;
  z-index: 3;
  background: rgba(255,255,255,0.7);
}

#logo{
	display: inline-block;
	vertical-align: middle;
	width: 140px;
}

#navbar{
	display: inline-block;
	font-family: 'Lato', sans-serif;
	padding-top: 20px;
	text-align: center;
	margin-right: 10px;
	float: right;
}


.line{
	float: left;
	padding-left: 12px;
	padding-right: 12px;
}

.shadow{
	color: black;
	text-decoration: none;
}

.shadow:hover{
	color: gray;
}

.list{
	list-style-type: none;
	font-size: 18px;
	padding: 0; 
	color: white;
	margin: 0;
}

#mainpicdiv{
	height: 100%;
	background: 	
		linear-gradient(
	      rgba(0, 0, 0, 0.1), 
	      rgba(0, 0, 0, 0.1)
	    ),
	    url(../images/gaf-roof-new.jpg) no-repeat center center;
	background-size: cover;

}

#gafroof{
	width: 100%;
	position: relative;
	top: -95px;
}

#maintext{
	text-align: center;
	text-shadow: 2px 2px 8px black;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	position:absolute;
	width: 1000px;
	margin-left: -500px;
    top:40%;
    left:50%;
    font-size: 50px;
}

#phone{
	color: #FEE736;
}
